*{
    margin:0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}
/* body{
    background-image: -moz-linear-gradient(rgb(103, 52, 52));

} */
.header{
    background-color: rgb(13, 93, 66);
    width: 100%;
    height: 20vh;
}
.subtn{
    width: 20vw;
    min-width: 70px;
    max-width: 300px;
    height: 45px;
    

}