{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <h1>Add student detail</h1>
    <div class="mb-3"> 
        <form action="/create" method="post">
            
                <lable for="student_ref"> Student Ref</lable>
                <input type="text" id="st_ref" name="st_ref" placeholder="Enter student number" required><br>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="First name" required><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" placeholder="Last name" required><br>
            
                <label for="gender">Gender:</label>
                <input id="male" name="gender" value="Male" type="radio">
                <label for="male">Male</label>
                <input id="female" name="gender" value="Female" type="radio">
                <label for="female">Female</label>
                <input id="other" name="gender" value="other" type="radio">
                <label for="other">Other</label>
                <br>
                <label for="date_of_birth">Date Of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" required>
                <br>
                <label for="phone">Contact No:</label>
                <input type="tel" id="phone" name="phone" placeholder="Contact No" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <h2>Home Address</h2>
                <lable for="first_line">First Line Of Address Flat/House Number And Name:</lable>
                <input type="text" id="first_line" name="first_line" placeholder="Enter First Line Of Address" required><br>
                <lable for="second_line">Sreet Name:</lable>
                <input type="text" id="second_line" name="second_line" placeholder="Enter Street Name" required> 
                <lable for="city">City:</lable>
                <input type="text" id="city" name="city" placeholder="Enter City Name">
                <lable for="postcode">Postcode</lable>
                <input type="text" id="postcode" name="postcode" placeholder="Enter Postcode" oninput="this.value = this.value.toUpperCase();" required>
                <br>
                <h2>Next of Kin Details</h2>
                <label for="kin_fname">Kin's First Name:</label>
                <input type="text" id="kin_fname" name="kin_fname" placeholder="Kin's First Name">
                <label for="kin_lname">Kin's Last Name:</label>
                <input type="text" id="kin_lname" name="kin_lname" placeholder="Kin's Last Name"><br>
                <label for="kin_relationship">Relationship:</label>
                <input type="text" id="kin_relationship" name="kin_relationship" placeholder="Relationship"><br>
                <label for="kin_phone">Contact No:</label>
                <input type="tel" id="kin_phone" name="kin_phone" placeholder="Contact No"><br>
                <label for="kin_email">Email:</label>
                <input type="email" id="kin_email" name="kin_email" placeholder="Email"><br>

                <input type="submit" value="Add Student">
        </form>
    </div>
</div>
   


{% endblock %}
