{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Attendance Daily Records</h1>
  <form action="/create_attendance" method="post">
    <div class="container custom-width">
        <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" placeholder="Write the subject name" class="form-control">
        </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-success">
                    <tr>
                        <th>Student First Name</th>
                        <th>Student Last Name</th>
                        <th>Student Ref</th>
                        <th>Attendance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for column in data %}
                    <tr>
                        <td>{{ column[1] }}</td>
                        <td>{{ column[2] }}</td>
                        <td>{{ column[0] }}</td>
                        <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="yes_{{ column[0] }}" name="{{ column[0] }}" value="yes">
                            <label class="form-check-label" for="yes_{{ column[0] }}">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="no_{{ column[0] }}" name="{{ column[0] }}" value="no">
                            <label class="form-check-label" for="no_{{ column[0] }}">No</label>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg">Submit</button><br><br>
        </div>
    </div>
  </form>
</div>
{% endblock %}
