{% extends "base.html" %}
{% block content %}

    <div class="row gy-1">
      <div class="col-6 p-3">
        <div class="p-3 border bg-light w-50"><a href="{{url_for('add_student')}}" class="nav-link"> Add Students <img src="{{url_for('static',filename='images/student.png')}}" width="50px" hight="50px" class="img_icon"></a></div>
    </div>
      <div class="col-6 p-3">
        <div class="p-3 border bg-light w-50"><a href="{{url_for('search_student')}}" class="nav-link"> Search for student <img src="{{url_for('static',filename='images/search_student.png')}}" width="50px" hight="50px" class="img_icon"></a></div>
      </div>
      <div class="col-6 p-3">
        <!-- this is where you update any detail of the student -->
        <div class="p-3 border bg-light w-50"><a href="{{url_for('update_student')}}" class="nav-link"> Update student detail <img src="{{url_for('static',filename='images/update.png')}}" width="50px" hight="50px" class="img_icon"></a></div>
      </div>
      <div class="col-6 p-3">
        <div class="p-3 border bg-light w-50"><a href="{{url_for('delete_student')}}" class="nav-link"> Delete student <img src="{{url_for('static',filename='images/remove_student.png')}}" width="50px" hight="50px" class="img_icon"></a></div>
      </div>
      <div class="col-6 p-3">
        <div class="p-3 border bg-light w-50"><a href="{{url_for('attendance_student')}}" class="nav-link"> Student's daily register <img src="{{url_for('static',filename='images/attendance.png')}}" width="50px" hight="50px" class="img_icon"></a></div>
      </div>
      <div class="col-6 p-3">
        <div class="p-3 border bg-light w-50"><a href="{{url_for('search_attendance_student')}}" class="nav-link"> Student's daily attendance <img src="{{url_for('static',filename='images/search_attendance.png')}}" width="50px" hight="50px" class="img_icon"></a></div>
      </div>
     
  </div>

  
        <!-- <img src="{{url_for('static',filename='images/student.png')}}"> -->
        <!-- class="container overflow-hidden text-center"> -->
       
     
        
{% endblock %}