{% extends "base.html" %}
{% block content %}
<h1>Search for student detail</h1>
<form action="/search" method="post">
    <h3>Search by Name</h3>
    <!-- <lable for="search_fname">First Name</lable>
    <input type="text" id="search_fname" name="fname" placeholder="Name">
    <lable for="search_lname">Last Name</lable> -->
    <lable for="id">ID</lable>
    <input type="text" id="search_id" name="id">
    <input type="submit" value="search">
    <h3>Search by date of birth</h3>
</form>
<!-- {{data}} -->
<div class="table-responsive">
    <table class="table table-bordered table-hover ">
    {% for column in data %}
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Contact_No</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <td>
                    {{column[0]}}
                </td>
                <td>
                    {{column[1]}}
                </td>
                <td>
                    {{column[2]}}
                </td>
                <td>
                    {{column[3]}}
                </td> 
                <td>
                    {{column[4]}}
                </td>
                <td>
                    {{column[5]}}
                </td>
                <td>
                    {{column[6]}}
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}