{% extends "base.html" %}
{% block content %}
 <h1>Search for student attendance</h1>
 <form action="/search_student_attendance" method="post">
     <h4>Search by Name</h4>
     <lable for="search_fname">First Name</lable>
     <input type="text" id="search_fname" name="fname" placeholder="First name">
     <lable for="search_lname">Last Name</lable>
     <input type="text" id="search_lname" name="lname" placeholder="Last name">
     <h4>Search by Student Number</h4>
     <lable for="id">Student ID Number</lable>
     <input type="text" id="search_id" name="id" placeholder="Student Number">
     <h4>Search by date of birth</h4>
     <lable for="date_of_birth">Date Of Birth</lable>
     <input type="date" id="date_of_birth" name="birth_date"><br>
     <br>
     <input type="submit" value="search">
 </form> 
 <!-- this jinja if is for not crash when the data wasn't defined and the value of data wasn't found-->
 {% if data is defined and data|length!=0 %}
 <ul>
    <li> Student ID:{{data[0][0]}} </li>
    <li> Student First Name:{{data[0][1]}} </li>
    <li> Student Last Name:{{data[0][2]}} </li>
    <li> Gender:{{data[0][3]}} </li>
    <li> DOB:{{data[0][4]}} </li>
    <li> Contact_No:{{data[0][5]}} </li>
    <li> Email:{{data[0][6]}} </li>
  
</ul> 


<div class="table-responsive">

    <table class="table table-bordered table-hover ">
    
        <thead class="table-success">
            <tr>
                <th>subject</th>
                <th>date of attendance</th>
                <th>attendance</th>
            </tr>

        </thead>
       
    {% for column in data %}
        <tbody>
             <tr>
                <td>
                    {{column[9]}}
                </td>
                <td>
                    {{column[10]}}
                </td>
                <td>
                    {{column[12]}}
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
    <div class="table-responsive">

        <table class="table table-bordered table-hover ">
        
            <thead class="table-success">
                <tr>
                    <th>subject</th>
                    <th>date of attendance</th>
                    <th>attendance</th>
                </tr>
    
            </thead>
           
        {% for column in data %}
            <tbody>
                 <tr>
                    <td>
                        {{column[9]}}
                    </td>
                    <td>
                        {{column[10]}}
                    </td>
                    <td>
                        {{column[12]}}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
        {% endif %}

{% endblock %}

